# Technical Lead / Technical Architect / TSC Chair: @dwmkerr
# Solution Architect and Frontier Tech: @chi-wai-cheung-mckinsey
# Ark Technicial Lead: @Roman-Galeev
# vNext Technicial Lead: @cm94242 

* @dwmkerr

/ark/config/crd/ @dwmkerr @Roman-Galeev @cm94242
/ark/api/ @dwmkerr @Roman-Galeev @cm94242
