{{- if .Values.rbac.create -}}
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: {{ include "ark-evaluator.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "ark-evaluator.labels" . | nindent 4 }}
rules:
- apiGroups:
  - ark.mckinsey.com
  resources:
  - models
  - queries
  - evaluations
  - agents
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - ""
  resources:
  - secrets
  - configmaps
  - events
  verbs:
  - get
  - list
{{- end }}